---
import "../styles/style.css";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Button from "../components/Button.astro";
import Main from "../components/Main.astro";
import SideNav from "../components/SideNav.astro";
import TopNav from "../components/TopNav.astro";
import ArrowNav from "../components/ArrowNav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <div>
        <SideNav />
      </div>
      <div>
        <Main>
          <TopNav />
        </Main>
      </div>
    </main>
  </body>
</html>
