---
import Button from "../components/Button.astro";
---

<section>
  <div class="banner">
    <img src="/spotify_images/spotify_logo.svg" alt="spotify_logo" />
  </div>
  <ul class="nav">
    <li>
      <a class="active" href="/#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
          ><path
            d="M39.5,43h-9c-1.381,0-2.5-1.119-2.5-2.5v-9c0-1.105-0.895-2-2-2h-4c-1.105,0-2,0.895-2,2v9c0,1.381-1.119,2.5-2.5,2.5h-9	C7.119,43,6,41.881,6,40.5V21.413c0-2.299,1.054-4.471,2.859-5.893L23.071,4.321c0.545-0.428,1.313-0.428,1.857,0L39.142,15.52	C40.947,16.942,42,19.113,42,21.411V40.5C42,41.881,40.881,43,39.5,43z"
          ></path></svg
        >

        <p>Hjem</p>
      </a>
    </li>
    <li>
      <a href="/#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"
          ><path
            d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"
          ></path></svg
        >
        <p>Søg</p>
      </a>
    </li>
    <li>
      <a href="/#">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
          <path
            d="M2.8,21.8c-0.6,0-1-0.4-1-1v-18c0-0.6,0.4-1,1-1s1,0.4,1,1v18C3.8,21.4,3.4,21.8,2.8,21.8z M15.3,1.9
	c-0.5-0.3-1.1-0.1-1.4,0.4c-0.1,0.2-0.1,0.3-0.1,0.5v18c0,0.6,0.4,1,1,1h6c0.6,0,1-0.4,1-1V6.3c0-0.4-0.2-0.7-0.5-0.9L15.3,1.9z
	 M8.8,1.8c-0.6,0-1,0.4-1,1v18c0,0.6,0.4,1,1,1s1-0.4,1-1v-18C9.8,2.3,9.4,1.8,8.8,1.8z"
          ></path>
        </svg>

        <p>Dit Bibliotek</p>
      </a>
    </li>
  </ul>

  <div class="playlist">
    <div class="playlist_button">
      <div class="playlist_square">
        <svg role="img" height="12" width="12" aria-hidden="true" viewBox="0 0 16 16" data-encore-id="icon" class="Svg-sc-ytk21e-0 uPxdw"
          ><path d="M15.25 8a.75.75 0 0 1-.75.75H8.75v5.75a.75.75 0 0 1-1.5 0V8.75H1.5a.75.75 0 0 1 0-1.5h5.75V1.5a.75.75 0 0 1 1.5 0v5.75h5.75a.75.75 0 0 1 .75.75z"></path></svg
        >
      </div>
      <p>Opret playliste</p>
    </div>

    <div class="playlist_button">
      <div class="playlist_square blue">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" style="enable-background:new 0 0 12 12;" xml:space="preserve">
          <path
            d="M11.8,3.2c-0.3-1.3-1.3-2.3-2.6-2.6c-1-0.2-2,0.2-2.7,0.8c-0.2,0.2-0.6,0.2-0.9,0C4.3,0.2,2.3,0.3,1,1.5
	c-1.2,1.2-1.2,3.1-0.1,4.3l4.4,5.3c0.3,0.4,0.8,0.4,1.2,0.1c0,0,0.1-0.1,0.1-0.1l4.4-5.3C11.7,5.1,12,4.1,11.8,3.2L11.8,3.2z"
          ></path>
        </svg>
      </div>
      <p>Sange du synes godt...</p>
    </div>
  </div>
  <div class="bottom">
    <p>Cookies</p>
    <button>
      <svg role="img" height="16" width="16" aria-hidden="true" viewBox="0 0 16 16" data-encore-id="icon" class="Svg-sc-ytk21e-0 uPxdw"
        ><path
          d="M8.152 16H8a8 8 0 1 1 .152 0zm-.41-14.202c-.226.273-.463.713-.677 1.323-.369 1.055-.626 2.496-.687 4.129h3.547c-.06-1.633-.318-3.074-.687-4.129-.213-.61-.45-1.05-.676-1.323-.194-.235-.326-.285-.385-.296h-.044c-.055.007-.19.052-.391.296zM4.877 7.25c.062-1.771.34-3.386.773-4.624.099-.284.208-.554.329-.806a6.507 6.507 0 0 0-4.436 5.43h3.334zm-3.334 1.5a6.507 6.507 0 0 0 4.436 5.43 7.974 7.974 0 0 1-.33-.806c-.433-1.238-.71-2.853-.772-4.624H1.543zm4.835 0c.061 1.633.318 3.074.687 4.129.214.61.451 1.05.677 1.323.202.244.336.29.391.297l.044-.001c.06-.01.19-.061.385-.296.226-.273.463-.713.676-1.323.37-1.055.626-2.496.687-4.129H6.378zm5.048 0c-.061 1.771-.339 3.386-.772 4.624-.082.235-.171.46-.268.674a6.506 6.506 0 0 0 4.071-5.298h-3.03zm3.031-1.5a6.507 6.507 0 0 0-4.071-5.298c.097.214.186.44.268.674.433 1.238.711 2.853.772 4.624h3.031z"
        ></path></svg
      >

      Dansk
    </button>
  </div>
</section>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
  li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 16px;
    height: 40px;
  }
  svg {
    height: 25px;
    fill: var(--grey_text);
    margin: 0;
  }
  li a:hover svg {
    fill: var(--white);
  }
  li a:hover p {
    color: var(--white);
  }

  li .active p {
    color: var(--white);
  }
  li .active svg {
    fill: var(--white);
  }
  section {
    background-color: var(--black1);
    height: 100%;
    width: 195px;
    margin-left: 0;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
    display: flex;
    flex: 1;
    flex-direction: column;
    position: fixed;
  }

  .banner {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .banner img {
    max-width: 131px;
  }

  .playlist {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
  }

  .playlist_button {
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
  }

  .playlist_button:hover p {
    color: white;
  }

  .playlist_square {
    height: 24px;
    width: 24px;
    background-color: var(--white);
    border-radius: 2px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .playlist_button:hover .playlist_square {
    opacity: 1;
  }
  .playlist_square svg {
    border-radius: 2px;
    fill: var(--black1);
    height: 12px;
    width: 12px;
    padding: 1px;
  }
  .playlist_square.blue {
    background: linear-gradient(135deg, #450af5, #c4efd9);
  }
  .playlist_square.blue svg {
    fill: white;
  }

  .bottom {
    color: var(--grey_text);
    margin-bottom: 130px;
  }
  .bottom p {
    margin-bottom: 24px;
    cursor: pointer;
    font-size: 0.7rem;
  }
  .bottom p:hover {
    text-decoration: underline;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: transparent;
    border-radius: 500px;
    min-block-size: 32px;
    border: solid 1px var(--grey_text);
    color: white;
    padding: 1px 15px;
    cursor: pointer;
  }
  button svg {
    margin: 0;
    fill: white;
  }

  button:hover {
    border: solid 1.4px var(--white);
    scale: 1.05;
  }
</style>
