---
---

<section>
  <div class="banner">
    <img src="/spotify_images/spotify_logo.svg" alt="spotify_logo" />
  </div>
  <ul class="nav">
    <li>
      <a class="active" href="/#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
          ><path
            d="M39.5,43h-9c-1.381,0-2.5-1.119-2.5-2.5v-9c0-1.105-0.895-2-2-2h-4c-1.105,0-2,0.895-2,2v9c0,1.381-1.119,2.5-2.5,2.5h-9	C7.119,43,6,41.881,6,40.5V21.413c0-2.299,1.054-4.471,2.859-5.893L23.071,4.321c0.545-0.428,1.313-0.428,1.857,0L39.142,15.52	C40.947,16.942,42,19.113,42,21.411V40.5C42,41.881,40.881,43,39.5,43z"
          ></path></svg
        >

        <p>Hjem</p>
      </a>
    </li>
    <li>
      <a href="/#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"
          ><path
            d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"
          ></path></svg
        >
        <p>Søg</p>
      </a>
    </li>
    <li>
      <a href="/#">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
          <path
            d="M2.8,21.8c-0.6,0-1-0.4-1-1v-18c0-0.6,0.4-1,1-1s1,0.4,1,1v18C3.8,21.4,3.4,21.8,2.8,21.8z M15.3,1.9
	c-0.5-0.3-1.1-0.1-1.4,0.4c-0.1,0.2-0.1,0.3-0.1,0.5v18c0,0.6,0.4,1,1,1h6c0.6,0,1-0.4,1-1V6.3c0-0.4-0.2-0.7-0.5-0.9L15.3,1.9z
	 M8.8,1.8c-0.6,0-1,0.4-1,1v18c0,0.6,0.4,1,1,1s1-0.4,1-1v-18C9.8,2.3,9.4,1.8,8.8,1.8z"
          ></path>
        </svg>

        <p>Dit Bibliotek</p>
      </a>
    </li>
  </ul>

  <div class="playlist">
    <div class="playlist_button">
      <div class="playlist_square"></div>
      <p>Opret playliste</p>
    </div>

    <div class="playlist_button">
      <div class="playlist_square blue"></div>
      <p>Sange du synes godt...</p>
    </div>
  </div>
</section>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
  li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 16px;
    height: 40px;
  }
  svg {
    height: 25px;
    fill: var(--grey_text);
    margin: 0;
  }
  li a:hover svg {
    fill: var(--white);
  }
  li a:hover p {
    color: var(--white);
  }

  li .active p {
    color: var(--white);
  }
  li .active svg {
    fill: var(--white);
  }
  section {
    background-color: var(--black1);
    height: 100%;
    width: 195px;
    margin-left: 0;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
    display: flex;
    flex: 1;
    flex-direction: column;
    position: fixed;
  }

  .banner {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .banner img {
    max-width: 131px;
  }

  .playlist {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .playlist_button {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .playlist_square {
    height: 24px;
    width: 24px;
    background-color: var(--grey_text);
    border-radius: 2px;
  }
  .playlist_square.blue {
    background-color: aquamarine;
  }
</style>
